[MASTER]

py-version = 3.10
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]

disable =
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  logging-fstring-interpolation,
